.sign-in {
    display: flex;
    flex-direction: column;
        
    .buttons {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 767px)  {
    .sign-in {
        width: 100vw;
    }
}