.collection-category {
    display: flex;
    flex-direction: column;

    .title {
      font-size: 38px;
      margin: 0 auto 30px;
    }
  
    .items {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 5px;
      margin: auto;
  
      & .card-item {
        margin-bottom: 30px;
      }
    }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) and (orientation : portrait) {
    .items {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1204px) and (orientation : portrait){
    .items {
      grid-template-columns: 1fr 1fr;
    }
  }
   
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) and (orientation : landscape) {
    .items {
      grid-template-columns: 1fr 1fr;
    }
  }      

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) and (orientation : landscape){
    .items {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

}
  